<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>gabs</title>
  <link rel="icon" href="/favicon.ico">
  <meta name="description" content="Gabs">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">/
  <link rel="preconnect" href="https://fonts.bunny.net">
  <link href="https://fonts.bunny.net/css?family=abril-fatface:400|zilla-slab:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet" />
  <a rel="me" href="https://fosstodon.org/@gabs">Mastodon</a>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./style.css">

</head>
<body>

  <div class="curzr" hidden>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
      <path class="inner" d="M25,30a5.82,5.82,0,0,1-1.09-.17l-.2-.07-7.36-3.48a.72.72,0,0,0-.35-.08.78.78,0,0,0-.33.07L8.24,29.54a.66.66,0,0,1-.2.06,5.17,5.17,0,0,1-1,.15,3.6,3.6,0,0,1-3.29-5L12.68,4.2a3.59,3.59,0,0,1,6.58,0l9,20.74A3.6,3.6,0,0,1,25,30Z" fill="#F2F5F8" />
      <path class="outer" d="M16,3A2.59,2.59,0,0,1,18.34,4.6l9,20.74A2.59,2.59,0,0,1,25,29a5.42,5.42,0,0,1-.86-.15l-7.37-3.48a1.84,1.84,0,0,0-.77-.17,1.69,1.69,0,0,0-.73.16l-7.4,3.31a5.89,5.89,0,0,1-.79.12,2.59,2.59,0,0,1-2.37-3.62L13.6,4.6A2.58,2.58,0,0,1,16,3m0-2h0A4.58,4.58,0,0,0,11.76,3.8L2.84,24.33A4.58,4.58,0,0,0,7,30.75a6.08,6.08,0,0,0,1.21-.17,1.87,1.87,0,0,0,.4-.13L16,27.18l7.29,3.44a1.64,1.64,0,0,0,.39.14A6.37,6.37,0,0,0,25,31a4.59,4.59,0,0,0,4.21-6.41l-9-20.75A4.62,4.62,0,0,0,16,1Z" fill="#111920" />
    </svg>
  </div>

<!-- partial:index.partial.html -->
<div id="app">
  <div :class="['bg', bg]">
    <header>
      <nav>
        <ul>
          <li><a class="link-bio" href="#bio" @click="bg = 'bio'">About Me</a></li>
          <li><a class="link-projects" href="#projects" @click="bg = 'projects'">Projects</a></li>
          <li><a class="link-find-me" href="#findme" @click="bg = 'find-me'">Find me</a></li>
        </ul>
      </nav>
      <div class="transition transition-bio"></div>
      <div class="transition transition-projects"></div>
      <div class="transition transition-find-me"></div>
      <h1>gabs</h1>
    </header>
    <div class="dots dots1"></div>
    <div class="dots dots2"></div>
    <main>
      <transition name="slide-fade" mode="out-in">
        <p key="bio" v-if="bg==='bio'">I’m a human person. Also a designer and developer. I have some open source projects that you can check out on my <a href="https://github.com/GabsEdits" target="_blank" rel="noopener">Github</a> and maybe sometime in the future <a href="https://gitlab.com/gxbs" target="_blank" rel="noopener">Gitlab</a> :D</p>
        <p key="projects" v-if="bg==='projects'"><br1>Here are ALL of my projects and the ones that I contribute to:</br1>

         <br><a href="https://github.com/vixalien/sticky" rel="noopener">Sticky Notes</a></br>
         <br1><a href="https://github.com/Vanilla-OS" rel="noopener">Vanilla OS</a></br1>
         <br><a href="https://github.com/GabsEdits/vanilla" rel="noopener">Vanilla</a></br>
         <br1><a href="https://github.com/GabsEdits/password" rel="noopener" target="_blank">Password Generator</a></br1>
         <br><a href="https://github.com/GabsEdits/deb-gnome" rel="noopener" target="_blank">Deb gnome</a></br>
         <br1><a href="https://github.com/GabsEdits/gabsedits.github.io" rel="noopener">gabsedits.github.io</a></br1>
         <br><a href="https://github.com/GabsEdits/website-concept" rel="noopener">Website Concept</a></br>
         <br1><a href="https://github.com/GabsEdits/fed" rel="noopener">Fed</a></br1>
         <br><a href="https://github.com/GabsEdits/ubu" rel="noopener">Ubu</a></br>
         <br1><a href="https://github.com/GabsEdits/deb" rel="noopener">Deb</a></br1>

        </p>
        <p key="find-me" v-if="bg==='find-me'"> My time zone is <a href="https://time.is/EET"target="_blank" rel="noopener">EET</a>. You can message me on <a href=" https://discord.com/users/841649648606249021"target="_blank" rel="noopener">Discord</a>, <a href="https://twitter.com/GabsSimply" target="_blank" rel="noopener">Twitter</a>, <a href="https://fosstodon.org/@gabs" target="_blank" rel="noopener">Mastodon</a>, <a href="https://t.me/gabsedits" target="_blank" rel="noopener">Telegram</a> or if you still use it, <a href="mailto:gaba@duck.com" target="_blank" rel="noopener">Email</a>.</p>
      </transition>
    </main>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
