<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
  <title>gabs</title>
<link rel="icon" href="https://gabsedits.github.io/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Trocchi|Anton" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="./style.css">

</head>
<body>
    <div class="curzr" hidden>
    <div class="curzr-dot"></div>
  </div>
  
<!-- partial:index.partial.html -->
<div id="app">
  <div :class="['bg', bg]">
    <header>
      <nav>
        <ul>
          <li><a class="link-bio" href="#bio" @click="bg = 'bio'">Bio</a></li>
          <li><a class="link-projects" href="#projects" @click="bg = 'projects'">Projects</a></li>
          <li><a class="link-find-me" href="#findme" @click="bg = 'find-me'">Find me</a></li>
        </ul>
      </nav>
      <div class="transition transition-bio"></div>
      <div class="transition transition-projects"></div>
      <div class="transition transition-find-me"></div>
      <h1>gabs</h1>
    </header>
    <div class="dots dots1"></div>
    <div class="dots dots2"></div>
    <main>
      <transition name="slide-fade" mode="out-in">
        <p key="bio" v-if="bg==='bio'">I’m a human person. Also a designer and developer. I have some open source projects that you can check out on my <a href="https://github.com/GabsEdits" target="_blank" rel="noopener">Github</a> :D</p>
        <p key="projects" v-if="bg==='projects'">Here are ALL of my projects:
        
         <br1><a href="https://github.com/GabsEdits/password"target="_blank" rel="noopener">Password Generator</a></br1>
         <br><a href="https://github.com/GabsEdits/deb-gnome"target="_blank" rel="noopener">Deb gnome</a></br>
         <br1><a href="https://github.com/GabsEdits/gabsedits.github.io"target="_blank" rel="noopener">Main Website</a> (here)</br1>
         <br><a href="https://github.com/GabsEdits/fed"target="_blank" rek="noopener">Fed</a></br>
         <br1><a href="https://github.com/GabsEdits/website-concept"target="_blank" rel="noopener">Website Concept</a></br1>
        </p>
        <p key="find-me" v-if="bg==='find-me'"> My time zone is <a href="https://time.is/EET"target="_blank" rel="noopener">EET</a> and I am available from 8 AM till 3 PM. You can message me on <a href=" https://discordapp.com/users/841649648606249021"target="_blank" rel="noopener">Discord</a>, <a href="https://twitter.com/GabsSimply" target="_blank" rel="noopener">Twitter</a> or <a href="https://t.me/gabsedits" target="_blank" rel="noopener">Telegram</a></p>
      </transition>
    </main>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
